* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Georgia, sans-serif;
  background: url(../assets/img/bg.jpg) no-repeat;
  background-size: 1200px 100%;
  background-position: center; }

img {
  width: 100%; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

.wrapper-footer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .wrapper-footer {
      flex-direction: column; } }

a {
  text-decoration: none; }

li {
  list-style: none; }

hr {
  border: none;
  background-color: #76c38f;
  color: #76c38f;
  height: 5px; }

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 56px; }

.main-nav {
  display: flex;
  align-items: center; }
  .main-nav_text a {
    font-size: 28px;
    color: #fff; }
  .main-nav_text p {
    font-size: 11px;
    color: #979797; }

.topnav {
  display: flex;
  flex-wrap: wrap; }
  .topnav a {
    padding: 11px 18px;
    font-size: 13px;
    color: #fff; }
    .topnav a:hover {
      background-color: #76c38f;
      border-radius: 3px; }

.slideshow-container {
  max-width: 960px;
  position: relative;
  margin: auto;
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    .slideshow-container {
      margin-top: 70px;
      margin-bottom: 70px; } }
  @media screen and (max-width: 320px) {
    .slideshow-container {
      margin: 0;
      margin-top: 30px;
      margin-left: 60px; } }

.total {
  display: flex;
  justify-content: center;
  align-items: center; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.about-us {
  display: flex;
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    .about-us {
      margin-left: 100px; } }
  .about-us_text {
    padding-top: 95px;
    color: #fff;
    margin-right: 96px; }
    @media screen and (max-width: 768px) {
      .about-us_text {
        padding: 0; } }
    .about-us_text h1 {
      font-size: 46px;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        .about-us_text h1 {
          font-size: 30px; } }
      @media screen and (max-width: 320px) {
        .about-us_text h1 {
          font-size: 20px;
          margin-bottom: 15px; } }
    .about-us_text p {
      font-size: 12px;
      margin-bottom: 18px; }
    .about-us_text button {
      font-size: 13px;
      color: #fff;
      background-color: #76c38f;
      width: 142px;
      height: 35px;
      border: none;
      border-radius: 10px;
      cursor: pointer; }
  .about-us_pic {
    width: 430px;
    height: 430px;
    border: 26px solid #6b6b6b;
    border-radius: 50%;
    background-image: url(../assets/img/cherry.jpg);
    background-size: cover;
    background-position: center; }
    @media screen and (max-width: 768px) {
      .about-us_pic {
        width: 200px;
        height: 200px;
        border: 14px solid #6b6b6b; } }
    @media screen and (max-width: 480px) {
      .about-us_pic {
        display: none; } }

.our-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding-top: 20px;
  justify-content: center; }

.our-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 227px;
  height: 306px;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  color: #333333;
  background-image: url("../assets/img/support-1.png");
  background-repeat: no-repeat;
  background-position: 50% 20px; }
  .our-service:hover {
    background-color: #76c38f;
    color: #fff;
    background-image: url("../assets/img/support-2.png");
    background-repeat: no-repeat;
    background-position: 50% 20px; }
  .our-service:last-child {
    margin: 0; }
  .our-service_title {
    font-size: 32px;
    text-align: center; }
  .our-service_descr {
    text-align: center;
    margin-top: 10px; }

.our-works {
  margin-top: 40px; }
  .our-works_title {
    color: #fff;
    background-color: #333333;
    border-radius: 10px;
    width: 255px;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative; }
    .our-works_title::before {
      content: '';
      width: 50%;
      height: 3px;
      position: absolute;
      top: 50%;
      left: -50%;
      background-color: #333333; }
      @media screen and (max-width: 320px) {
        .our-works_title::before {
          display: none; } }
    .our-works_title::after {
      content: '';
      width: 50%;
      height: 3px;
      position: absolute;
      top: 50%;
      right: -50%;
      background-color: #333333; }
      @media screen and (max-width: 320px) {
        .our-works_title::after {
          display: none; } }
  .our-works_itms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .our-works_itm {
    display: flex;
    border: 5px solid #fff;
    width: 290px;
    height: 190px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer; }
    @media screen and (max-width: 320px) {
      .our-works_itm {
        margin-right: 0; } }
    .our-works_itm:hover {
      border: 5px solid #76c38f; }
    .our-works_itm:nth-child(3) {
      margin-right: 0; }
      @media screen and (max-width: 768px) {
        .our-works_itm:nth-child(3) {
          margin-right: 30px; } }
      @media screen and (max-width: 320px) {
        .our-works_itm:nth-child(3) {
          margin-right: 0; } }
    .our-works_itm:nth-child(6) {
      margin-right: 0; }
      @media screen and (max-width: 768px) {
        .our-works_itm:nth-child(6) {
          margin-right: 30px; } }
      @media screen and (max-width: 320px) {
        .our-works_itm:nth-child(6) {
          margin-right: 0; } }
    .our-works_itm img:hover {
      z-index: 1000; }
    .our-works_itm p {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 14px;
      color: #fff;
      background-color: #151515;
      padding: 10px 0;
      text-align: center; }

.footer-main {
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  padding-top: 40px;
  padding-bottom: 60px;
  box-shadow: inset 0 -2px 5px #000; }
  .footer-main_title {
    color: #fff;
    margin-bottom: 35px; }
    @media screen and (max-width: 320px) {
      .footer-main_title {
        text-align: center; } }

.main_news {
  max-width: 220px;
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .main_news {
      margin-bottom: 20px;
      max-width: 400px; } }
  .main_news-title {
    color: #76c38f;
    font-size: 13px;
    margin-bottom: 16px; }
  .main_news-address {
    font-size: 10px;
    margin-bottom: 11px;
    color: #666666; }
    .main_news-address span {
      color: #76c38f; }
  .main_news-date {
    color: #979797;
    font-size: 10px;
    margin-bottom: 13px; }
  .main_news-text {
    color: #979797;
    font-size: 13px;
    margin-bottom: 15px; }
    @media screen and (max-width: 320px) {
      .main_news-text {
        max-width: 315px; } }
  .main_news-more {
    color: #76c38f;
    font-size: 13px; }

.main_links {
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .main_links {
      margin-bottom: 20px;
      max-width: 400px; } }
  @media screen and (max-width: 320px) {
    .main_links {
      max-width: 315px; } }
  .main_links-list li {
    padding-top: 12px;
    padding-bottom: 9px;
    border-bottom: 1px solid #404040;
    font-size: 13px;
    cursor: pointer; }
    .main_links-list li a {
      color: #76c38f; }
    .main_links-list li span {
      color: #979797; }

.main_tweets {
  max-width: 220px;
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .main_tweets {
      max-width: 400px; } }
  .main_tweets-text {
    font-size: 13px;
    color: #979797;
    margin-bottom: 30px; }
    .main_tweets-text span {
      color: #76c38f; }

.main_forms {
  max-width: 220px; }
  @media screen and (max-width: 768px) {
    .main_forms {
      max-width: 400px; } }
  @media screen and (max-width: 320px) {
    .main_forms-itm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }
  .main_forms-itm-color {
    width: 225px;
    padding: 11px 0;
    padding-left: 10px;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #979797;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .main_forms-itm-color {
        width: 350px; } }
    @media screen and (max-width: 320px) {
      .main_forms-itm-color {
        width: 200px; } }
  .main_forms-itm textarea {
    width: 225px;
    height: 80px;
    padding-left: 10px;
    padding-top: 11px;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #979797;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .main_forms-itm textarea {
        width: 350px; } }
    @media screen and (max-width: 320px) {
      .main_forms-itm textarea {
        width: 200px; } }
  .main_forms-itm-btn {
    width: 75px;
    padding: 11px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #76c38f;
    font-size: 12px;
    cursor: pointer; }

.footer-bottom {
  background-color: #2b2b2b; }
  .footer-bottom_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #979797;
    font-size: 13px;
    padding: 24px 0; }
    @media screen and (max-width: 768px) {
      .footer-bottom_position {
        justify-content: space-around; } }

.topnav .icon {
  display: none; }

@media screen and (max-width: 768px) {
  .topnav a {
    display: none; }

  .topnav a.icon {
    margin-top: -10px;
    margin-bottom: 20px;
    display: block;
    color: #fff; }

  .topnav.responsive {
    position: relative;
    flex-direction: column; }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0; }

  .topnav.responsive a {
    display: block;
    top: -30px; } }
